<footer class="footer has-background-black-bis" style=' padding: 3rem 2.5rem 2.5rem;'>
    <div style='text-align: center' class="content has-text-centered has-text-light">
        <div class="level">
            <div class='level-item'>
                <p>
                By Morteza Najafi 
                <br>
                july 2020
                </p>
            </div>
            <div class="level-item" style='font-size: 2.5rem;'>
                <i class="fa fa-plane" aria-hidden="true"></i>&#160;
                <i class="fa fa-train" aria-hidden="true"></i>&#160;
                <i class="fa fa-ship" aria-hidden="true"></i>&#160;
                <i class="fa fa-bus" aria-hidden="true"></i>&#160;
            </div>
        </div>
    </div>
</footer>